<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Agenda</title>
</head>
<body>

	<header th:replace="layouts/header :: header"></header>
	
	<nav th:replace="layouts/nav :: nav"></nav>
	
	<div style="background:aqua;">
		<video src="./videos/Homero estudiando.mp4" controls="controls" width="60%" style="display:inline-block">
		</video>
		<section style="width: 36%;background:gray;display:inline-block;">
			<p>La educación no es preparación para la vida, la educación es la vida misma. John Dewey.</p>
		</section>
	</div>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>