<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Beneficios</title>
</head>
<body>
	<header style="background:white;margin:0;padding: 30px;">
		<img height="250px" alt="logo" src="https://www.unju.edu.ar/oferta2022/images/logo_unju.jpg" title="logo-unju">
		<h1>Instituto Informático Jujuy</h1>		
	</header>
	
	<nav th:replace="layouts/nav :: nav"></nav>
	
	<section>
		<p> <strong>Página en construcción...</strong> </p>
	</section>
	
	<footer th:replace="layouts/footer :: footer"></footer>
</body>
</html>